<div class="listings container">

	<% if @listings_per_page.any? %>
		<% @listings_per_page.shuffle.each do |listing| %>
		<% unless listing.sold %>
			<div class="listing col-xs-4">
				<%= link_to listing_path(listing) do %>
					<%= image_tag listing.main_pic, width: '100%', id: 'listing-main-pic',class: 'img-responsive' %>
					<% end %>
				<% end %>
			</div>	
		<% end %>
	<% else %>
		<% if current_user %>
		
		  <div class="jumbotron">
    		<div class="container">
					<h1>Hey, time to add some items!"</h1>
					<% else %>
					<h1>Welcome to unipop!</h1>
					<h3>Sign up to start buying and selling from your tribe.
					Click on Sell to add your first pop!</h3>
					<p>

					</p>
					<p align="right">
						Don't have a unipop account yet?
        		<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      		</p>
				</div>
			</div>
		<% end %>
	<% end %>

	<div id="infinite-scrolling">
		<%= will_paginate @listings_per_page %>
	</div>

	<div class="loader">
			<p>
				<img src="/images/ajax-loader.gif" alt="Loading..." title="Loading..." />
			</p>
	</div>

</div>
