<div class="listings container">
	<% if @all_listings.any? %>
		<% @all_listings.shuffle.each do |listing| %>
			<div class="listing col-xs-4">
				<%= link_to listing_path(listing) do %>
					<%= image_tag listing.main_pic, class: 'img-responsive' %>
				<% end %>	
			</div>
		<% end %>
		<div id="infinite-scrolling">
			<%= will_paginate @listings_per_page %>
		</div>
	<% else %>
		There are no items yet
	<% end %>

	<div class="clearfix"></div>
	<div id="loading-more" class="primary-light-color text-center"><h3><strong>Loading more...<strong></h3></div>
</div>
