<div class="listings_container">

	<% if current_user %>
		<% if @listings_per_page.any? %>
			<%= render partial: 'listings/listing', collection: @listings_per_page.shuffle %>
		<% else %>
		  <div class="jumbotron">
    		<div class="landing_container">
					<h3>Hey, time to add some items!</h3>
		<% end %>
	<% else %>
					<div id="logo_container">
						<div class="logo_text">Welcome to unip</div>
						<div class="logo_target">o</div>
						<div class="logo_text">p</div>
					</div>
					<h3>Sign up to start buying and selling from your tribe.
					Click on Sell to add your first pop!</h3>
					<p align="right">
						Don't have a unipop account yet?
        		<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      		</p>
				</div>
			</div>
	<% end %>

	<div id="infinite-scrolling">
		<%= will_paginate @listings_per_page %>
	</div>

	<div class="loader">
			<p>
				<img src="/images/ajax-loader.gif" alt="Loading..." title="Loading..." />
			</p>
	</div>

</div>
