<div class="listings container">
	<% if @all_listings.any? %>
		<% @all_listings.shuffle.each do |listing| %>
			<% unless listing.sold %>
				<div class="listing col-xs-4">
					<%= link_to listing_path(listing) do %>
						<%= image_tag listing.main_pic, width: '100%', id: 'listing-main-pic',class: 'img-responsive' %>
					<% end %>
				<% if listingCount%3==0 %>
					<div class="clearfix"></div>
				<% end %>
			</div>
		<% end %>
	<% else %>
		There are no items yet
	<% end %>
	<div class="clearfix"></div>
	<div id="loading-more" class="primary-light-color text-center"><h3><strong>Loading more...<strong></h3></div>
</div>
