/*
COLORS:
Purple: #9d13ff;
Dark Purple: #570095;
Dark Grey: #676767;
*/

/* Global styles */
.primary-color {
	color: #9d13ff !important;
}
.primary-dark-color {
	color: #570095 !important;
}
.primary-light-color {
	color: #ab52ea !important;
}
header {
	background: #8e2ad5 url(../img/header-bg.png) repeat-x;
	min-height: 54px;
}
header #logo {
	float:left;
}
@media (max-width: 991px) {
	header #logo {
		display: none;
	}
}
header a,
header a:link,
header a:visited {
	color: #fff;
}
header #navigation {
	margin-top: 2px;
	width: 275px;
	float: left;
}
header #navigation ul {
	border-left: 1px solid #b972eb;
	margin-bottom: 0;
	margin-left: 5px;
}
header #navigation ul li {
	border-right: 1px solid #b972eb;
	padding:0;
}
header #navigation ul li a,
header #navigation ul li a:link,
header #navigation ul li a:visited {
	padding: 10px 20px;
	display: block;
	font-size: 23px;
	font-weight: bold;
}
header #navigation ul li a:hover {
	text-decoration: none;
	background: #7b25b7;
}
@media (max-width: 370px) {
	header #navigation {
		width: 235px;
	}
	header #navigation ul {
		margin-left:0;
	}
	header #navigation ul li a,
	header #navigation ul li a:link,
	header #navigation ul li a:visited {
		font-size: 18px;
		padding: 14px 20px;
	}
}
@media (max-width: 767px) {
	header #header-right {
		display: none;
	}
}
header #header-right {
	margin-top: 2px;
	float: right;
}

@media (max-width: 1200px) {
	header #header-right {
		width: 560px;
	}
}
@media (max-width: 991px) {
	header #header-right {
		width: 400px;
	}
}
@media (max-width: 991px) {
	header #header-right #search {
		display:none;
	}
}
header #header-right #search {
	padding: 8px 8px 10px 0;
	border-right: 1px solid #b972eb;
	width: 270px;
	float: right;
}
header #search form,
header #search-device {
	position: relative;
}
header #search form button,
header #search-device button {
	background: none;
	border: 0;
	color: #9d13ff;
	position: absolute;
	right: 2px;
	top: 4px;
	font-size: 20px;
}
header #header-right #search form input {
	font-size: 18px;
}
header #search-device {
	margin: 5px 0px;
}
header #header-right #user-menu {
	padding: 7px 8px 7px 13px;
	border-right: 1px solid #b972eb;
	cursor: pointer;
	position: relative;
	float: right;
	width: 220px;
}
header #header-right #user-menu.open {
	background: #7b25b7;
}
header #header-right #user-menu:hover {
	background: #7b25b7;
}
header #header-right #user-menu .dropdown-toggle {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
header #header-right #user-menu .dropdown-toggle .caret {
	position: absolute;
	top: 23px;
	right: 15px;
	font-size: 20px;
	border-top: 6px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
header #header-right #user-menu ul.dropdown-menu {
	box-shadow: none;
	border: 0;
	background: #7b25b7;
	width: 100%;
	border-radius: 0 0 4px 4px;
	margin: 0;
}
header #header-right #user-menu ul.dropdown-menu li a:hover {
	background: #570095;
}
header #header-right #user-menu ul.dropdown-menu li a {
	color: #fff !important;
	font-size: 16px;
	padding: 8px 20px;
}
header #header-right #user-chat {
	font-size: 23px;
	border-right: 1px solid #b972eb;
	padding: 0;
	width: 45px;
	float: right;
}
header #header-right #user-chat a:hover {
	background: #7b25b7;
}
header #header-right #user-chat a,
header #header-right #user-chat a:link,
header #header-right #user-chat a:visited {
	padding: 11px 10px 7px 11px;
	display: block;
}
header button#menu-btn:hover {
	background: #7b25b7;
}
header button#menu-btn {
	margin: 13px 0 0 0;
	border:1px solid #fff;
}
header button#menu-btn .icon-bar {
	background: #fff;
}
header #user-device-menu {
	width: auto;
}
header #user-device-menu ul li {
	font-size: 20px;
}
header #user-device-menu ul li#user-id {
	padding-right: 15px;
	color: #fff;
	font-weight: bold;
}
header #user-device-menu ul li a,
header #user-device-menu ul li a:link,
header #user-device-menu ul li a:visited {
	padding: 13px 15px;
}
header #user-device-menu ul li a:hover {
	background: #7b25b7;
}

.listings {
	margin-top: 25px;
}
.listings .listing {
	float: left;
	margin-bottom: 25px;
}
.listings .listing img {
	border-radius: 4px;
	border:1px solid #E3BBFF;
}
.listings .listing img:hover {
	border:1px solid #9d13ff;
}
@media (max-width: 440px) {
	.listings .listing {
		width: 50%;
	}
}