// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listings_container {
	background-image: url("../../images/background2.png");
	color: #FEF2D8;
	font-weight: 200;
	font-family: 'unipop_font';
	background-repeat: repeat-y;
	width: auto;
	height: 500px;
	background-size: 120%;
}

@font-face {
  font-family: 'unipop_font'; 
  src: url('../fonts/unipop1.otf');
}

@font-face {
  font-family: 'target_font'; 
  src: url('../fonts/target_font.otf'); 
}

#logo_container {
  display: flex;
}

.logo_text {
  font-family: 'unipop_font';
  font-size:  45px;
}

.logo_target {
 font-family: 'target_font'; 
 font-size:  25px;
}