// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 300px;
  height: 200px;
  background: grey;

}
